<header class="header">
    <div class="header__wrapper container">
        <a href="/" class="header__logo"><img src="./img/logo.svg" alt=""></a>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item nav__item_has-children">
                    <a href="#">Статьи</a>
                    <ul class="nav__sub-menu">
                        <li><a href="#">JavaScript Pro</a></li>
                        <li><a href="#">JavaScript для новчиков</a></li>
                        <li><a href="#">JavaScript ниндзя</a></li>
                    </ul>
                </li>
                <li class="nav__item nav__item_has-children">
                    <a href="#">Курсы</a>
                    <ul class="nav__sub-menu">
                        <li><a href="#">JavaScript Pro</a></li>
                        <li><a href="#">JavaScript для новчиков</a></li>
                        <li><a href="#">JavaScript ниндзя</a></li>
                    </ul>
                </li>
                <li class="nav__item"><a href="#">Новости</a></li>
                <li class="nav__item"><a href="#">О нас</a></li>
            </ul>
        </nav>
        <a href="" class="header__button button open-modal" data-modal="form">Начать учиться</a>
        <button class="btn-reset burger header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
    </div>
</header>