<div class="overlay" id="overlay-modal"></div>

<div class="modal modal--form" data-modal="form">
    <div class="modal__close"><img src="./img/svg/close.svg" alt=""></div>
    <h2 class="title modal__title">Начать учиться</h2>
    <p class="modal__desctiption">Оставьте заявку и наш менеджер вам перезвонит.</p>
    <form action="#" class="form modal__form">
        <div class="modal__inputs-list">
            <div class="form__input-group">
                <input type="text" id="name" class="form__input" placeholder="" required>
                <label for="name" class="forn__input-label">Как вас зовут</label>
            </div>
            <div class="form__input-group">
                <input type="email" id="email" class="form__input" placeholder="" required>
                <label for="email" class="forn__input-label">Ваш email</label>
            </div>
        </div>

        <input type="submit" class="button modal__button" value="Отправить">
    </form>
    <p class="modal__confidentiality">Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">политикой
            конфиденциальности</a></p>
</div>